@CHARSET "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}
body {
	background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin: 50px auto;
	max-width: 400px;
	box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

form[role=login] {
	font: 16px/1.6em Lato, serif;
	padding: 15px 26px 5px 26px;
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] h2 {
		font-size: 20px;
		color: #5d5c5c;
		margin-bottom: 0.5em;
	}
	form[role=login] p {
		color: #929292;
		margin-bottom: 25px;
	}
	form[role=login] input,
	form[role=login] button,
	form[role=login] a.btn {
		font-size: 16px;
	}
	form[role=login] a.btn {
		margin: 16px 0;		
	}